<!DOCTYPE html>
<html>
<head>
    <title>Squeeze Momentum Stocks list</title>
</head>
<style>
    table, th, td {
    border:1px solid black;
    font-size: 25px;
    }
</style>
<body>
<table style="width:50%">
    <h1>Stocks Screener</h1>
    <tr>
        <th>DateTime</th>
        <th>Long Squeeze Stocks</th>
        <th>Short Squeeze Stocks</th>
        <th>Long Macd Stocks</th>
        <th>Short Macd Stocks</th>
    </tr>
    {%for stock in stocks%}
    <tr>
        <td>{{stock[0]}}</td>
        <td>{{stock[1]}}</td>
        <td>{{stock[2]}}</td>
        <td>{{stock[3]}}</td>
        <td>{{stock[4]}}</td>
    </tr>
    {%endfor%}
</table>
</body>
</html>
